@using Eticaret.MVCWebUI.Entity;
@model IEnumerable<Urun>
@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">

    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">
        This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content
        or information.
    </p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>


    <div class="row">
        @foreach (var urun in Model)
        {
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="holder.js/100px180/" alt="@urun.Ad">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="/Home/Detay/@urun.Id">@urun.Ad</a>
                        </h5>
                        <p class="card-text">@urun.Aciklama</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">@urun.Fiyat</small>
                    </div>
                </div>
            </div>

        }

    </div>

